<div class="card">
  <h2>About extra</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus exercitationem ipsam iste itaque tenetur totam. Animi aperiam, cumque dolorem doloribus incidunt ipsa labore, maiores odit omnis quaerat, quo vero.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore eum ipsam molestias necessitatibus. Adipisci beatae commodi cumque, et impedit iste minus nostrum placeat porro possimus quibusdam, ratione saepe unde.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aspernatur commodi earum excepturi facilis fugit iste laboriosam minus quas, quibusdam, quo quod veritatis vero voluptas! In, ipsum, laudantium. Recusandae?</p>
</div>

